@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
body {
  font-family: "Baloo Bhai 2", cursive;
  background-color: rgb(184, 184, 184);
  margin: 0%;
  padding: 0%;
}
