@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
body {
  font-family: "Baloo Bhai 2", cursive;
  font-size: 20px;
  background-color: rgba(43, 0, 28, 0.226);
  margin: 0%;
  padding: 0%;
}
