@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Cambay&family=Cantarell:ital@1&family=Nunito+Sans:wght@200&display=swap");

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: rgb(184, 184, 184);
  margin: 0%;
  padding: 0%;
}
