.navbar {
  background-color: white;
  border-bottom: solid grey;
  justify-content: center;
  border-width: 10px;
  padding-top: 10px;
}

.navbar-logo {
  justify-content: center;
  margin-block-start: auto;
  max-width: 200%;
  width: 11%;
}

.navbar-links {
  display: flex;
  margin-block-start: auto;
  justify-content: center;
  padding-inline-start: 0px;
  align-items: center;
}

.navbar-links-item {
  padding-top: auto;
  display: inline-block;
  margin: 20px;
}
